html, body {
    background: #000;
    font-size: 14px;
}

* {
    margin: 0;
}

/*--------------------------------------------------*/
.slider {
    position: relative;
    width: 500px;
    height: 500px;
    border: 15px solid #ffff;
    /* overflow: hidden; */

    margin: 14rem auto;
}

.slider-line {
    width: 1500px;
    display: flex;
    position: relative;
    left : -500px;
}

.slider img {
    /* margin: 0 auto; */
    /* max-width: 500px;
    width: 100%; */
    /* transition: all ease 1s; */
}





/* КНОПКИ */
.prev-button, .next-button {

    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 6px solid #fff;
    background: #000;
    color: #fff;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;

    left: 14px;
    font-size: 2rem;
    line-height: 2rem;
    box-shadow: 3px 3px 3px #000;
}

.next-button {
    left: auto;
    right: 14px;
}

.prev-button:active, .next-button:active {
    background: #c0c0c0;
}

